@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 800px;
  max-width: 85%;
}

.quiz-header {
  padding: 2rem;
}

h2 {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  cursor: pointer;
  font-size: 1.1rem;
  margin: 1rem;
}

ul li input {
  cursor: pointer;
}

ul li label {
  cursor: pointer;
}

button {
  background: yellow;
  border: none;
  color: black;
  display: block;
  font-family: inherit;
  font-size: 1.3rem;
  width: 100%;
  padding: 1rem;
}